bod
{
    background-color: rgb(32, 32, 77);
}


h1
{
    font-size: 64px;
    color: white;
}

h2
{
    font-size: 40px;
    color: white;

}

h3
{
    font-size: 36px;
    color: white;

}

p
{
    font-size: 20px
}


.background-green
{
    background-color: #72BF78;
    border-radius: 15px;
}

.section-divide
{
    margin: 1rem 0rem 6rem;
}

.center
{
    display: flex;
    justify-content: center;
}

.between
{
    display: flex;
    justify-content: space-between;
}
/* --------------------------- Home Page (Index) Start -------------------------*/

.seperation-header
{
    color: white;
    background-color: #FFD993;
}

.serperate
{
    background-color: #FFD993;
    padding: 5px;
}

.hero-image
{
    object-fit: contain;
}

.absolute-text
{
    position: absolute;
    background-color: #FFD993;
     
}

/* --------------------------- Card Section Start */
.card-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-green
{
    background-color: #72bf78b0;
}
/* --------------------------- Card Section End */
